.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
    .filters {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}