.card {
    width: 100%;
    padding-bottom: 15px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

.img {
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.notPointer {
    cursor: default;
}